body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0;
}

.flex-center.right {
    right: 0;
}

.sidebar-guion {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: gray;
}
.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
    rotate: 90deg;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 300px;
    height: 100%;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 2em;
    min-inline-size: min-content;
    border-width: 0;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.left.collapsed {
    transform: translateX(-295px);
}

.right.collapsed {
    transform: translateX(295px);
}

.sidebar-toggle.rotate {
    transform: rotate(180deg);
}

.selectStyle {
    width: 100%
}

.fieldsetStyle{
    display: flex;
    justify-content: space-between;
    border: none
}

.labelStyle{
    font-weight: bold;
    margin-right: 10px
}

.selectFieldsetStyle{
    display: block;
    border: none
}

.selectLabelStyle{
    display: block;
    margin-bottom: 1px;
    font-weight: bold
}
